<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>HAIVU MOBILE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- HEADER -->
    <header>
        <!-- navbar của bạn -->
    </header>

    <!-- CONTENT -->
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-container">

            <div class="footer-col">
                <h3>HAIVU MOBILE</h3>
                <p>Chuyên điện thoại chính hãng</p>
                <p>Uy tín - Giá tốt - Bảo hành dài</p>
            </div>

            <div class="footer-col">
                <h3>Liên hệ</h3>
                <p>📍 Hà Nội</p>
                <p>📞 0388.292.302</p>
                <p>✉️ haivu@gmail.com</p>
            </div>

            <div class="footer-col">
                <h3>Kết nối</h3>
                <div class="social">
                    <img src="{{ url_for('static', filename='images/fb.png') }}">
                    <img src="{{ url_for('static', filename='images/zl.png') }}">
                    <img src="{{ url_for('static', filename='images/tiktok.png') }}">
                </div>
            </div>

            

        </div>

        <div class="footer-bottom">
            © 2026 HAIVU MOBILE - All rights reserved
        </div>
    </footer>

</body>
</html>
